{% extends "base.html" %}

<!--
Attributes:
    entry: Entry to be displayed.
-->

{% block title %} {{ entry.title }} {% endblock %}

{% block content_title %} {{ entry.title }} {% endblock %}

<!-- List all the tags connected with the entry, sorted in alphabetical order. -->
{% block sidebar %}
    <ul class="well nav nav-list">
        <li><a href="{{ url_for('entries.edit', slug=entry.slug) }}">Edit</a></li>
        <li><a href="{{ url_for('entries.delete', slug=entry.slug) }}">Delete</a></li>
        <li><h4>Tags</h4></li>
        {% for tag in entry.tags|sort(attribute='name') %}
            <li><a href="{{ url_for('entries.tag_detail', slug=tag.slug) }}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>

<p>Published {{entry.created_timestamp.strftime('%d/%m/%Y') }}</p>

{% endblock %}

{% block content %}
{{ entry.body }}
{% endblock %}

